.content {
	margin: 0 auto;
	background: lime;
	overflow: hidden;
	width: 80%;
}

.block {
	padding: 10px;
	background: white;
	margin: 15px;
	float: left;
	width: 300px;
	height: 100px;
}

.left {
	display: inline-block;
	float: left;
	margin: 5px;
	height: 100%;
}

span {
	display: inline-block;
	min-width: 80px;
	margin: 0px 5px;
	padding: 2px 6px;
	font-size: 20px;
	display: block;
	float: left;
	background: green;
	color: white;
}